.cb_btn{
    display: block;
    width: 120px;
    height: 50px;
    background: rgba(100,100,100,1);
    text-decoration:none;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    position: fixed;
    right: 20px;
    top: 10%;
    z-index: 99;
}
.cb_btn:hover {
    text-decoration: none;
    animation:an 2s;
    animation-fill-mode: forwards;
}
@keyframes an{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}